.end-page {
    width: 100px;
    padding: 100px;
    background-color: aquamarine;
    ;
  }
body{
  background-image:url("/GENERICA/img/back.jpg" ) ;
  background-repeat: no-repeat;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-attachment: fixed;
  background-size: 100%;
}
#iconwin{
  width: 3%;
}
.barraverde{
  height: 10px;
  width: 80%;
  
  background-color: aquamarine;

}
.taskManagement {
  position: fixed;
  opacity: 70%;
  
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(44, 142, 255);
  color: white;
}